<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/reservation.css">
</head>
<body>
    <section class="d-flex flex-column align-items-center" layout:fragment="content">
        <form method="get" class="d-flex flex-column justify-content-around">
            <select name="medId">
                <option th:each="med : ${AllMedList}" th:value="${med.key}" th:text="${med.value}"></option>
            </select>
            <input type="text" name="roomName">
        </form>
        <form method="get" class="d-flex flex-column justify-content-around" th:if="${AllChatRoom}">
            <th:block th:each="room : ${AllChatRoom}">
                <input type="hidden" th:value="${room.medId}">
                <input class="d-none" type="radio" th:id="${room.id}" name="roomId">
                <button type="submit" class="w-100 text-center p-md-3 mb-2 btn btn-outline-secondary" th:for="${room.id}" th:text="${room.chatRoomName}"></button>
            </th:block>
        </form>
    </section>
</body>
</html>