<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/chat.css">
</head>
<body>
	<section layout:fragment="content" id="chatRoom">
        <th:block th:each="map : ${RoomInfo}">
            <div class="d-flex align-items-center justify-content-between" id="roomHeader">
                <button class="btn" id="exitRoom" title="나가기">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </button>
                <span class="h4" th:text="'[' + ${map.value.chatRoomAccessName} + '] ' + ${map.value.chatRoomName}"></span>
                <div class="position-relative">
                    <button class="btn" id="joined" title="대화상대">
                        <i class="fa-solid fa-user-group"></i>
                    </button>
                    <button class="btn" id="clearHist" title="이력 지우기">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <ul class="d-flex flex-column position-absolute bottom-0 end-0 rounded d-none" id="joinedMemList">
                    </ul>
                </div>
            </div>
            <div id="messageView"></div>
            <div class="d-flex align-items-center mt-2" id="messageInput">
                <input type="hidden" th:value="${map.value.id}" name="roomId">
                <input type="hidden" th:value="${map.key}" name="senderName">
                <input class="p-md-3 btn btn-outline-secondary w-75" type="text" name="message" placeholder="메세지를 입력하세요">
                <button class="btn btn-primary w-25" type="button" id="messageSend">
                    <i class="fa-solid fa-paper-plane fs-5"></i>
                </button>
            </div>
        </th:block>
        <script src="../../js/ChatTest.js"></script>
	</section>
</body>
</html>