<!DOCTYPE html>

<!-- layout이 적용되어있는 페이지 폼 입니다. 
		따로 적용할 거 없이 "content 영역에 각 페이지 별 내용 기입하시면 됩니다."-->

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>메인 검색 결과 페이지입니다.</title>
<link rel="stylesheet" href="../../css/searchresult.css">
</head>
<body>
	<div layout:fragment="content">
	<section>
	
		<div class="wrap">
			<div class="cont">				
				<div class="row head" style="margin: 0 auto; margin-bottom: 150px">
						<h1>의료진/진료과 검색</h1>
					<form class="doc_search" action="/searchresult">
					<input type="search" name="searchQuery" class="doc_searchbar" placeholder="검색어입력" required>
					<div class="col-md-12 linemenu">
						<button type="submit" class="doc_search_btn">검색</button>
					</div>
					</form>
					<div class="search_cont">
						<p class="search_txt"><span>"검색결과"</span>에 관한 검색결과가 총<span>"XX"</span>건이 검색되었습니다.</p>
					</div>
						<div class="search_gap">
						</div>
					<!-- [의료진 검색결과] -->
					<div class="search_sec">
						<div class="search_title">
							<h4 class="sub_title_h4 fix">의료진<span>XX</span><em>건</em></h4>
						</div>
						<div class="doctor_info_wrap fix">
							<div class="in_w">
								<div class="gray_bg">
									<div class="cont_no">
										<p class="doctor_no_txt">등록된 의료진이 없습니다.</p>
									</div>
								</div>
							</div>
							<div class="doctor_info_inner" th:each="docList : ${docList}">						
								[[${docList.docName}]]								
							</div>
						</div>
					</div>
					
					
					
					
					
					
					<!-- [진료과 검색결과] -->
					<div class="search_sec">
						<div class="search_title">
							<h4 class="sub_title_h4">진료과<span>XX</span><em>건</em></h4>
							<div class="med_cont">
								<div class="in_w">
									<div class="gray_bg">
										<div class="cont_no">
											<p class="doctor_no_txt">등록된 진료과가 없습니다.</p>
										</div>
									</div>
								</div>
								

								<ul class="fix">
								<li>진료과 소개</li>
								<li th:each="medList : ${medList}">[[${medList.medName}]]</li>
								</ul>

							</div>	
						</div>
					</div>
					</div>
				</div>
			</div>
	</section>
	</div>
</body>
</html>
