<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script th:inline="javascript">  
	$(document).ready(function(){
    	var errorMessage = [[${errorMessage}]];
    	if(errorMessage != null){
        	alert(errorMessage);
    	}

	});
 
 	function medListEvent() {
 		var doctor = $('#doctor');
 		if(doctor.is(":checked")) {
 			$('.medList').removeClass('d-none');
 			$('#profile').removeClass('d-none');
 		} else {
 			$('.medList').addClass('d-none');
 			$('#profile').addClass('d-none');
 		}
 	}
 	
 // 생일 유효성 검사
	var birth = $('#birth');
	
	// 생년월일	birth 유효성 검사
		function test(){
		var dateStr = $('#birth').val();	
		console.log(dateStr);
		
/* 		if(dateStr.length<8 || dateStr.length>8){
	    	$('#birth_check').text('생년월일은 8자로 작성해주세요:)');
			$('#birth_check').css('color', 'red');	    	
		}else if(dateStr.length = 8){
	    	$('#birth_check').text('생년월일을 형식이 일치합니다 :)');
			$('#birth_check').css('color', 'red');	    	
		} */
		
	    var year = Number(dateStr.substr(0,4)); // 입력한 값의 0~4자리까지 (연)
	    var month = Number(dateStr.substr(4,2)); // 입력한 값의 4번째 자리부터 2자리 숫자 (월)
	    var day = Number(dateStr.substr(6,2)); // 입력한 값 6번째 자리부터 2자리 숫자 (일)
	    var today = new Date(); // 날짜 변수 선언
	    var yearNow = today.getFullYear(); // 올해 연도 가져옴
		
	    if(dateStr.length<8 || dateStr.length>8){
	    	$('#birth_check').text('생년월일은 19990909형식의 8자로 작성해주세요.');
			$('#birth_check').css('color', 'red');	    	
		}else if(dateStr.length = 8){
	    	$('#birth_check').text('생년월일 형식이 일치합니다.');
			$('#birth_check').css('color', 'red');	    	
		}	// 연도의 경우 1900 보다 작거나 yearNow 보다 크다면 false를 반환합니다.
			else  if (1900 > year || year > yearNow){	
		  	  }else if (month < 1 || month > 12) {
		    			
		    	$('#birth_check').text('생년월일을 확인해주세요.');
				$('#birth_check').css('color', 'red'); 
		    
		  	  }else if (day < 1 || day > 31) {
		    	
		    	$('#birth_check').text('생년월일을 확인해주세요.');
				$('#birth_check').css('color', 'red'); 
		    	
		    	}else if ((month==4 || month==6 || month==9 || month==11) && day==31) {
		    	 
		    	$('#birth_check').text('생년월일을 확인해주세요.');
				$('#birth_check').css('color', 'red'); 
		    	 
		    	}else if (month == 2) {
		    	 
		       	var isleap = (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0));
		       	
		     	if (day>29 || (day==29 && !isleap)) {
		     		
		     		$('#birth_check').text('생년월일을 확인해주세요.');
					$('#birth_check').css('color', 'red'); 
		    	
				}else{
					$('#birth_check').text('');
					birth = true;
				}//end of if (day>29 || (day==29 && !isleap))
		     	
		    
		    }else{
		    	
		    	$('#birth_check').text(''); 
				birth = true;
			}//end of if
			
			}/* else{
				//1.입력된 생년월일이 8자 초과할때 :  auth:false
				$('#birth_check').text('생년월일을 확인해주세요 :)');
				$('#birth_check').css('color', 'red');  
			}) */ 
			;
	</script>
	
</th:block>
   <!-- THYMELEAF CSS -->
    <th:block layout:fragment="css">
      <style>
      	.fieldError{
      color: #D83636;
     }
       </style>
    </th:block>

</head>

<body>
	<section layout:fragment="content" class="login spad">
		<div class="container">
			<div class="sign-up-content">
				<form action="/members/new" method="post" th:object="${memberFormDto}" enctype="multipart/form-data">
					<div class="signup">
						<div class="form-radio mb-4">               	             	
							<input class="d-none" type="radio" name="role" value="CLIENT" id="client" checked="checked" onclick="medListEvent()"/>
							<label class="h4 btn btn-outline-secondary" for="client">환자</label> 
							<input class="d-none" type="radio" name="role" value="DOCTOR" id="doctor" onclick="medListEvent()" />
							<label class="h4 btn btn-outline-secondary" for="doctor">의사</label>	
							<input class="d-none" type="radio" name="role" value="ADMIN" id="admin" onclick="medListEvent()" />
							<label class="h4 btn btn-outline-secondary" for="admin">관리자</label>
						</div>
						<div class="form-textbox row mb-3">
							<span class="medList d-none h5"> 진료과 &nbsp; &nbsp; &nbsp; </span>
							<div class="input-group medList d-none p-0">
								<select class="form-select" name="job" th:field="*{medId}">
									<option hidden="hidden" selected="selected" value="">==진료과를 선택해주세요==</option>
									<option th:each="meds : ${memberFormDto.med}" th:value="${meds.medId}" th:text="${meds.medName}"></option>
								</select>
							</div>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="nickname">아이디</label>
							<input type="text" th:field="*{loginid}" class="form-control" placeholder="아이디 입력" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('loginid')}" th:errors="loginid" class="fieldError">잘못된 LoginId 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" for="password">비밀번호</label>
							<input type="password" th:field="*{pwd}" class="form-control" placeholder="패스워드 입력" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}" class="fieldError">잘못된 password 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="name">이름</label>
							<input type="text" th:field="*{name}" class="form-control" placeholder="홍길동" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">잘못된 이름 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="tel">전화번호</label>
							<input type="text" th:field="*{tel}" class="form-control" placeholder="01012349876" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="fieldError">잘못된 전화번호 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="birth">생년월일</label>
							<input type="number" th:field="*{birth}" class="form-control" placeholder="19990101" style="padding-left: 100px;" onkeyup="test()" />
							<p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="fieldError">잘못된 생년월일 입력</p>
							<div class="check_font" id=birth_check></div>
						</div>
						<div class="form-textbox row form-bottom d-none mb-3" id = "profile">
							<div class="col-3 d-flex align-items-center">
								<label class="h5 m-0" for="profile">프로필 사진</label>
							</div>
							<div class="col-9 d-flex flex-column align-items-start">
								<div id="image_container">
									<img id="preview" class="w-50"/>
								</div>
								<div class="input-group mb-3">
									<input type="file" class="form-control profile" name ="profileImg" id="profileImg"  onchange="readURL(this);">
									<label class="input-group-text" for="profileImg">Upload</label>
								</div>
							</div>
						</div> 
						<div class="form-textbox row signWrap w-100 flex-nowrap" style="text-align:center;">
							<button type="submit" class="submitSign w-50 btn btn-primary">회원가입</button>
							<button type="button" onclick="location.href='/'" class="submitSign w-50 ms-2 btn btn-primary">가입취소</button>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">     	    
					</div>
				</form>
			</div>
		</div>
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</section>
</body>
</html>