<!-- 관리자 회원가입 폼 -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<title>순양병원</title>
	<link rel="stylesheet" href="/rs/css/Member.css">
	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
	</script>
</head>
<body>
	<section layout:fragment="content" class="login spad">
		<div class="container">
		<div class="cont">
				<div class="row head" style="margin: 0 auto; margin-bottom: 150px">
					<div class="col-md-10 headwrap">
						<!-- <form th:action="'/members/tos'" method="post" name = "resvform" th:object="${quickReservationDto}"> -->
						<form action="/members/new/admin" method="post" name= "resvform" th:object="${memberFormDto}" enctype="multipart/form-data">
							<div class="col-md-12 viewhead">
								<h2>관리자 회원가입</h2>
							</div>
					
		
		
				<div class="col-md-12 viewlinebox">
								<div class="privateagree">
					<div class="signup">
						<div class="form-radio mb-4">               	             	
							<input class="d-none" type="hidden" name="role" value="ADMIN" id="admin" checked="checked" onclick="medListEvent()"/>
							
						</div>
				
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="nickname">아이디</label>
							<input type="text" th:field="*{loginid}" class="form-control" placeholder="아이디 입력" style="padding-left: 100px;" onkeyup="chk()"/>
							<p th:if="${#fields.hasErrors('loginid')}" th:errors="*{loginid}" class="py-2 c-alert-color">잘못된 LoginId 입력</p>
							<div id=chk_result class="chk_result c-alert-color py-2"></div>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" for="password">비밀번호</label>
							<input type="password" th:field="*{pwd}" class="form-control" placeholder="패스워드 입력" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}" class="py-2 c-alert-color">잘못된 password 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="name">이름</label>
							<input type="text" th:field="*{name}" class="form-control" placeholder="홍길동" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="py-2 c-alert-color">잘못된 이름 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="tel">전화번호</label>
							<input type="text" th:field="*{tel}" class="form-control" placeholder="01012349876" style="padding-left: 100px;" onkeyup="chktel()" />
							<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="py-2 c-alert-color">잘못된 전화번호 입력</p>
							<div id=chkTel_telresult class="chkTel_telresult c-alert-color py-2"></div>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="birth">생년월일</label>
							<input type="number" th:field="*{birth}" class="form-control" placeholder="19990101" style="padding-left: 100px;" onkeyup="test()" />
							<p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="py-2 c-alert-color">잘못된 생년월일 입력</p>
							<div class="check_font c-alert-color py-2" id=birth_check></div>
						</div>
						 <div class="form-textbox row mb-3 defimg">
											<label class ="h5"for="profile">프로필사진</label>
											<div id="image_container">
	                                <img id="preview" style="width: 50%;"/>
	                            </div>
											<input type="file" onchange="readURL(this);" class="form-control profile bg-white" name ="profileImg" id="profileImg" style="padding-left: 100px;">
											</div>
						 
						<div class="form-textbox row signWrap w-100 flex-nowrap" style="text-align:center;">
							<button type="submit" onclick="check()" class="submitSign w-50 btn btn-primary">회원가입</button>
							<button type="button" onclick="location.href='/'" class="submitSign w-50 ms-2 btn btn-primary">가입취소</button>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">   
						</div>
						</div>  	
					</div>    
				</form>
			</div>		
					</div>
				</div>
			</div>
		<!-- 회원가입야ㅑㄱ관 끝 -->	
			
		
		<!-- </div> -->
		<script src="/rs/js/Member.js"></script>
	</section>
</body>
</html>