<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title> 순양병원 </title> 

    <!-- THYMELEAF JS  -->
    <th:block layout:fragment="script">
      <script th:inline="javascript">
      
      </script>
    </th:block>

    <!-- THYMELEAF CSS -->
    <th:block layout:fragment="css">
      <style> </style>
    </th:block>
  </head>
  <body>
    <div layout:fragment="content">
    <section>
  				<div align="center">
  				<p>찾으시는 아이디의 비밀번호는 <a th:text="${newPwd}"></a>로 변경되었습니다.</p>
  				<br>
  				<p>해당 비밀번호로 로그인하여 마이페이지에서 비밀번호를 변경해주세요.</p>
  				<br>
  				</div>
  				
  				<form class="row g-3" action="/members/login" method="post">
  					<div>
						<label class="h4" th:for="loginid">아이디</label> 
						<input type="text" name="loginid" id="loginid" class="form-control">
					</div>
					<div>
						<label class="h4" th:for="password">비밀번호</label> 
						<input type="password" name="password" id="password" th:value="${newPwd}" class="form-control">
					</div>
					
		
					<div>
					<button type="submit" class="btn btn-primary mb-3 me-2 w-50" id="loginbtn" onclick="location.href='/'">로그인</button>
					</div>
			 		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			
     </section>
    </div>
  </body>
</html>
