<!-- 의료진 회원가입 폼 -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<title>순양병원</title>
	<script th:inline="javascript">  
		$(document).ready(function(){
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null){
				alert(errorMessage);
			}

		});
	
		function medListEvent() {
			var doctor = $('#doctor');
			if(doctor.is(":checked")) {
				$('.medList').removeClass('d-none');
				$('#profile').removeClass('d-none');
			} else {
				$('.medList').addClass('d-none');
				$('#profile').addClass('d-none');
			}
		}
//이용약관 동의
function check(){
		var form = document.resvform;
		var checkbox = document.getElementById('checkok');
		console.log(checkbox.checked);
		
		if(checkbox.checked == false){
			alert("서비스 이용약관 및 개인정보 취급방침에 동의하셔야 회원가입을 진행할 수 있습니다.");
			return false;
		}else{
			alert("회원가입이 완료되었습니다!");
			form.submit();
		}
		
	}
		
		
	// 생일 유효성 검사
		var birth = $('#birth');
		
		// 생년월일	birth 유효성 검사
			function test(){
			var dateStr = $('#birth').val();	
			console.log(dateStr);
			
			var year = Number(dateStr.substr(0,4)); // 입력한 값의 0~4자리까지 (연)
			var month = Number(dateStr.substr(4,2)); // 입력한 값의 4번째 자리부터 2자리 숫자 (월)
			var day = Number(dateStr.substr(6,2)); // 입력한 값 6번째 자리부터 2자리 숫자 (일)
			var today = new Date(); // 날짜 변수 선언
			var yearNow = today.getFullYear(); // 올해 연도 가져옴
			
			if(dateStr.length<8 || dateStr.length>8){
				$('#birth_check').text('생년월일은 19990909형식의 8자로 작성해주세요.');
			}else if(dateStr.length = 8){
				$('#birth_check').text('생년월일 형식이 일치합니다.');
			}	// 연도의 경우 1900 보다 작거나 yearNow 보다 크다면 false를 반환합니다.
				else  if (1900 > year || year > yearNow){	
				}else if (month < 1 || month > 12) {
							
					$('#birth_check').text('생년월일을 확인해주세요.');
				
				}else if (day < 1 || day > 31) {
					
					$('#birth_check').text('생년월일을 확인해주세요.');
					
					}else if ((month==4 || month==6 || month==9 || month==11) && day==31) {
					
					$('#birth_check').text('생년월일을 확인해주세요.');
					
					}else if (month == 2) {
					
					var isleap = (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0));
					
					if (day>29 || (day==29 && !isleap)) {
						
						$('#birth_check').text('생년월일을 확인해주세요.');
					
					}else{
						$('#birth_check').text('');
						birth = true;
					}//end of if (day>29 || (day==29 && !isleap))
					
				
				}else{
					
					$('#birth_check').text(''); 
					birth = true;
				}//end of if
				
				};
				
				//ID 중복체크
				
				var loginid = $('#loginid');
				
				function chk() {
					var loginid = $('#loginid').val();
					var url = "/members/new/" + loginid;
					
					if (loginid != '') {
						$.ajax({
							type: 'GET',
							url : url,
							dataType : 'json',
							cache : false,
							success : function(result) {
								if (result == 0) {
									$('#chk_result').text('사용가능한 아이디입니다.');
									$('#chk_result').css('color', 'green');
								} else {
									$('#chk_result').text('이미 사용중인 아이디입니다. 다른 아이디를 입력해주세요.');
								}
							},
							error : function(a,b,c) {
								console.log(a,b,c);
							}
						});
					} else {
						$('#chk_result').text('아이디는 필수입력값입니다.');
						$('#loginid').focus();
					}
				};

	</script>
	<!-- THYMELEAF CSS -->
<th:block layout:fragment="css">
	<style>
.wrap {
	width: 100%;
	margin: 0 auto;
}

.headwrap {
	margin: 0 auto;
}

.viewhead {
	text-align: center;
	margin-bottom: 10px;
}

.viewlineboxup {
	border-top: 4px solid black;
}

.viewlinebox{
	background-color: #eff3f7;
	padding: 60px 100px;
}

.linemenu {
	height: 50px;
	text-align: center;
	margin-top: 15px;
}

.tablemenu {
	padding: 15px;
	margin: 0 auto;
	background: white;
	width : 60%;
}

.detailbody {
	border: none;
}

.detail{
	width: 90%;
	height : 250px;
	background-color: #eff3f7;
	
}

.table_con {
	margin-top: 10px;
	text-align: center;
}

.cont_img {
	width: 15%;
}

.patientlist {
	text-align: center;
}

.pnamein {
	width: 80%;
}
.table{
}

.table tr{
	text-align: left;
}

.but{
	background: #205B8A;
	color: white;
}

.privateagree{
	margin-top: 25px;
	margin-bottom: 25px;
}

</style>
</th:block>
</head>
<body>
	<section layout:fragment="content" class="login spad">
		<div class="container">
		<div class="cont">
				<div class="row head" style="margin: 0 auto; margin-bottom: 150px">
					<div class="col-md-10 headwrap">
						<!-- <form th:action="'/members/tos'" method="post" name = "resvform" th:object="${quickReservationDto}"> -->
						<form action="/members/new/doctor" method="post" name= "resvform" th:object="${memberFormDto}" enctype="multipart/form-data">
							<div class="col-md-12 viewhead">
								<h1>회원가입</h1>
							</div>
							<div class="col-md-12 viewlineboxup">
							<h2>이용약관 주의사항</h2>
								<span >
								* 회원가입을 위해서 아래의 안내를 읽고 약관에 동의하셔야 회원가입을 하실 수 있습니다.
								<br>
								* 하기 약관 내용이 변경되는 경우 별도 변경 사항에 대해 전 홈페이지 고객 대상 이메일로 안내해 드리며,
  									변경된 내용에 동의를 원치 않으실 경우 회원에서 탈퇴하실 수 있습니다.
								</span>
								<br>
								<br>
							</div>
							<div class="col-md-12 viewlinebox">
								<div class="privateagree">
									<div>
									<h3>서비스 이용약관</h3>
									<p>서비스 이용약관에 동의하셔야만 회원가입을 하실 수 있습니다.</p>
									</div>
									<br>
									
									<div>
<textarea class="detail" readonly="readonly"> 
제 1조 (목적)
본 약관은 순양병원(이하 "병원"이라 합니다.)에서 운영하는 인터넷 홈페이지에서 제공하는 인터넷 관련 서비스 (이하 "서비스"라 합니다.)의 이용에 관한 사항을 규정함을 목적으로 합니다.

제 2조 (정의)
① 이용자 : '이용자'란 서비스에 접속하여 본 약관에 따라 병원이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
② 회원 : '회원'이란 병원이 회원으로 적합하다고 인정하는 일반 개인으로 본 약관에 동의하며 서비스의 회원가입양식을 작성하고 아이디와 비밀번호를 이용하여 서비스를 제공받는 사람을 말합니다.
③ 운영자 : 서비스의 전반적인 관리와 원활한 운영을 위하여 병원에서 선정한 사
④ 연결사이트 : 홈페이지와 하이퍼링크 방식(하이퍼링크의 대상에는 문자,정지 및 동화상 등이 포함됨) 등으로 연결된 웹 사이트를 말합니다.
⑤ 개인정보 : 당해 정보에 포함되어 있는 성명, 생년월일 등의 사항에 의하여 특정개인을 식별할 수 있는(당해 정보만으로는 특정 개인을 인식할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함한다)를 말합니다.
⑥ 해지 : 이용자가 서비스 개통 후 이용 계약을 해약하는 것
⑦
⑧

제 3조 (약관의 게시 및 변경)
① 병원은 본 약관의 내용과 상호, 병원 소재지 등을 이용자가 알 수 있도록 홈페이지에 게시합니다.
② 병원은 불가피한 사정이 있는 경우 관계법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
③ 병원은 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 서비스 화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
④ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 관계법령 또는 상관례에 따릅니다.
⑤ "이용자"는 변경된 약관에 대해 거부할 권리가 있습니다. "이용자"는 변경된 약관이 공지된 후 15일 이내에 거부의사를 표명할 수 있습니다. "이용자"가 거부하는 경우 "병원"은 당해 "이용자"와의 계약을 해지할 수 있습니다. 만약 "이용자"가 변경된 약관이 공지된 후 15일 이내에 거부의사를 표시하지 않는 경우에는 동의하는 것으로 간주합니다.
			
제 4조 (회원가입)
① 회원가입계약의 성립시기는 "회원"이 되고자 하는 자(이하 "가입신청자")가 약관의 내용에 대하여 동의를 한 다음 회원가입신청을 하고, "병원"이 이러한 신청에 대하여 승낙함으로써 체결됩니다.
② "병원"은 "가입신청자"의 신청에 대하여 "서비스" 이용을 승낙함을 원칙으로 합니다. 다만, "병원"은 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지 할 수 있습니다.
	1. 가입신청자가 본 약관 제7조 제2항에 의거하여 이전에 회원 자격을 상실한 적이 있는 경우
	2. 실명이 아니거나 타인의 명의를 이용한 경우
	3. 허위의 정보를 기재하거나, "병원"이 제시하는 내용을 기재하지 않은 경우
	4. 기타 회원으로 등록하는 것이 병원의 기술상 또는 업무 수행상 현저히 지장이 있다고 판단되는 경우
	5. 이용자의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우
	6. "병원"이 정한 회원가입요건이 미비 되었을 때
③ "병원"은 "회원"에 대해 회사정책에 따라 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.

제 5조 (회원 탈퇴 및 자격의 상실등)
① "회원"은 병원에 언제든지 탈퇴를 요청할 수 있으며 "병원"은 즉시 회원탈퇴를 처리합니다.
② "회원"이 "탈퇴"할 경우, 관련법 및 개인정보취급방침에 따라 "병원"이 회원정보를 보유하는 경우를 제외하고는 탈퇴 즉시 "회원"의 모든 데이터는 소멸됩니다.
③ "회원"이 계약을 해지하는 경우, "회원"이 작성한 "게시물" 중 고객의소리, 상담, 커뮤니티 등과 같은 "게시물" 일체는 삭제되지 않을 수 있으니 사전에 삭제 후 탈퇴하시기 바랍니다.
④ 회원이 다음 각호의 사유에 해당하는 경우, "병원"은 회원자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.
	1. 등록 신청 시에 허위 내용을 등록한 경우
	2. 다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 질서를 위협하는 경우
	3. 병원 내에 제공되는 정보를 변경하는 등 홈페이지 운영을 방해한 경우
	4. 사이트를 이용하여 법령 및 본 약관, 공서양속에 반하는 행위를 하는 경우
	5. 기타 회원으로서의 자격을 지속시키는 것이 부적절하다고 판단되는 경우
⑤ 홈페이지를 통하여 진료예약을 한 후 정당한 사유 없이 2회 이상 진료예약을 포기하거나 예약한 진료를 받지 않은 경우 홈페이지에서의 진료예약에 대한 자격을 3개월간 제한합니다.

제 6조 (회원정보의 수정)
① "회원"은 개인정보관리화면을 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 실명, 생년월일, 아이디 등은 수정이 불가능합니다.

제 7조 (서비스 이용시간)
① 서비스 이용시간은 "병원"의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다.
② 제1항의 이용시간 중 정기점검 등의 필요로 인하여 "병원"이 정한 날 또는 시간은 예외로 합니다.

제 8조 (서비스의 내용 및 변경)
① 병원은 다음의 서비스를 제공합니다.
	- 병원의 의료진 및 진료일정 안내
	- 병원 또는 연결사이트를 통해 제공되는 각종 예약 서비스
	- 병원 또는 연결사이트를 통해서 제공되는 건강상담 서비스
	- 병원에서 제공하는 건강정보
	- 기타 병원이 정하는 서비스
② 병원은 불가피한 사정이 있는 경우 제공하는 서비스의 내용을 변경할 수 있으며, 이 경우 변경된 서비스의 내용 및 제공일자를 명시하여 그 제공일자 이전 7일부터 공지합니다.
③ 병원은 서비스 내용의 변경으로 인하여 이용자가 입은 손해에 대하여 배상하지 아니합니다. 단, 병원의 고의 또는 중과실이 있는 경우에는 그러하지 아니합니다.

제 9조 (정보제공 및 홍보물 게재)
① "병원"은 서비스를 운영함에 있어서 각종 정보를 홈페이지에 게재하는  방법으로 "회원"에게 제공할 수 있습니다.
② "병원"은 서비스에 적절하다고 판단되거나 공익성이 있는 홍보물을 홈페이지에 게재할 수 있습니다.

제 10조 (사이트 게시물의 관리·운영)
① 귀하가 게시한 게시물의 내용에 대한 권리는 귀하에게 있습니다.
② "병원"은 “저작권법 등 관련 법령 등의 허용범위 내에서” 게시된 내용을 사전 통지 없이 편집, 이동할 수 있는 권리를 보유하며, 다음의 경우 사전 통지 없이 삭제할 수 있습니다.
    1. 본 서비스 약관에 위배되거나 상용 또는 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우
    2. 다른 회원 또는 제 3자를 비방하거나 중상 모략으로 명예를 손상시키는 내용인 경우
    3. 공공질서 및 미풍양속에 위반되는 내용인 경우
    4. 범죄적 행위에 결부된다고 인정되는 내용일 경우
    5. 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
    6. 기타 관계 법령에 위배되는 경우
③ 귀하의 게시물이 타인의 저작권을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 귀하가 부담하여야 합니다.

제 11조 (병원의 의무)
① 병원은 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 본 약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스를 제공하는 데 최선을 다합니다.
② 병원은 이용자의 신용정보를 포함한 개인신상정보의 보안에 대하여 기술적 안전 조치를 강구하고 관리에 만전을 기함으로써 이용자의 정보보안에 최선을 다합니다.
③ 병원은 공정하고 건전한 운영과 지속적인 연구·개발을 통하여 양질의 서비스를 제공함으로써 고객만족을 극대화 하여 인터넷 비즈니스 발전에 기여하도록 합니다.
④ 병원은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.

제 12조 (개인정보보호 의무)
"병원"은 "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 등 관계 법령이 정하는 바에 따라 "회원"의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법 및 "병원"의 개인정보취급방침이 적용됩니다. 다만, "병원"의 공식 사이트 이외의 링크된 사이트에서는 "병원"의 개인정보취급방침이 적용되지 않습니다

제 13조 (이용자의 아이디 및 비밀번호의 관리에 대한 의무)
① "회원"의 "아이디"와 "비밀번호"에 관한 관리책임은 "회원"에게 있으며, 이를 제3자가 이용하도록 하여서는 안 됩니다.
② "병원"은 "회원"의 "아이디"가 개인정보 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 "병원" 및 "병원"의 운영자로 오인한 우려가 있는 경우, 해당 "아이디"의 이용을 제한 할 수 있습니다.

제 14조 (이용자의 의무)
① 이용자는 다음의 행위를 하여서는 안됩니다.
    - 신청 또는 변경 시 허위내용의 등록
    - 병원에 게시된 정보의 변경
    - 병원이 정한 정보 이외의 정보(컴퓨터프로그램 등)의 송신 또는 게시
    - 병원 기타 제3자의 저작권 등 지적재산권에 대한 침해
    - 병원 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
    - 외설 또는 폭력적인 메시지·화상·음성 기타 공서양속에 반하는 정보를 병원에 공개 또는 게시하는 행위
    - 다른 이용자에 대한 건강진료 및 상담을 하거나 알선하는 행위
    - 제3자의 진료행위를 선전하는 행위
    - 상품을 판매하거나 판매를 알선하는 행위
    - 기타 부적절하다고 판단하는 행위
② 전항 각호의 정보 또는 기타 병원이 사이트 운영상 부적절하다고 판단한 정보가 병원 홈페이지에 게시되거나 사이트와 링크된 곳에 게시된 경우, 병원은 이용자 또는 기타 정보의 게시를 행한 자의 승낙없이 병원 홈페이지에 게재된 당해 정보를 삭제하거나 링크를 단절할 수 있습니다. 단, 병원은 이러한 정보의 삭제·링크의 절단 등을 할 의무를 지지 않습니다.

제 15조 (저작권의 귀속 및 이용제한)
① "병원"이 제공하는 인터넷 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타 권리는 "병원"에 소유권이 있습니다.
② 귀하는 "병원"이 명시적으로 승인한 경우를 제외하고는 전항의 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권 설정 행위, 상업적 이용 행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.

제 16조 (분쟁해결)
① 본 이용약관에 규정된 것을 제외하고 발생하는 서비스 이용에 관한 제반 문제에 관한 분쟁은 최대한 쌍방합의에 의해 해결하도록 합니다.
② 이용자가 홈페이지 이용과 관련하여 불만이 있거나 의견을 제시하고자 하는 경우에는 전자우편으로 홈페이지에 대한 불만사항 또는 의견을 제출하면 됩니다.
③ 병원은 이용자로부터 제출되는 불만사항 및 의견이 정당하다고 판단하는 경우 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.

제 17조 (재판권 및 준거법)
① 병원과 이용자간에 서비스 이용으로 발생한 분쟁에 관한 소송은 민사소송법상의 관할법원으로 합니다.
② 병원과 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다.
</textarea>
									</div>
									<br>
								
									<div>
										<input class="form-check-input" id = "checkok" type="checkbox">
										<label class="form-check-label" for="flexCheckDefault"> 이용약관에 동의합니다. </label>											  						
									</div>
								</div>	
					
								<div class="privateagree">
									<div><h3> 개인정보 취급방침</h3>
									<p>개인정보 취급방침에 동의하셔야만 회원가입을 하실 수 있습니다.</p>
									</div>
									<br>
									
									<div> 
<textarea class="detail" readonly="readonly">

1. 개인 정보의 수집 목적 및 이용
① 서비스제공 : 서비스 제공 등 각종 서비스
② 회원관리 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 불량회원의 부정 이용방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달
③ 신규 서비스 개발 및 마케팅·광고에의 활용 신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스 이용에 대한 통계

2. 개인정보의 수집
"병원"은 이용자의 정보수집시 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수 사항으로 하며 그 외 사항은 선택사항으로 합니다.

① 본인인증 회원가입 시 수집항목필수항목 : 아이디, 비밀번호, 이름, 생년월일, 휴대전화번호, 소속기관, 소속부서(전공과), 직위선택항목 : 직장번호, 영문이름, 관심분야전문회원 가입 시 : 회원유형, 학위, 전공분야 등 서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.: 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보
② 아이핀 회원가입 시 수집항목필수항목 : 아이디, 비밀번호, 이름, 생년월일, 휴대전화번호, 소속기관, 소속부서(전공과), 직위선택항목 : 직장번호, 영문이름, 관심분야전문회원 가입 시 : 회원유형, 학위, 전공분야: 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보 등서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.

3. 개인 정보의 보유 및 이용기간
병원은 회원님이 '홈페이지'에서 제공하는 서비스를 받는 동안 회원님의 개인 정보는 '홈페이지'에서 계속 보유하며 서비스 제공을 위해 이용하게 됩니다. 단, 탈퇴를 하거나 회원자격 상실 사유에 의해 회원 자격을 제한 및 정지시키는 경우에는 해당 개인의 정보는 재생할 수 없는 기술적 방법에 의해 삭제되며 어떠한 용도로도 열람 또는 이용될 수 없도록 처리됩니다.								
</textarea> 
									</div>
									<br>
									
									<div>
										<input class="form-check-input" id = "checkok" type="checkbox">
										<label class="form-check-label" for="flexCheckDefault"> 개인정보 수집 및 이용에 동의합니다. </label>											  						
									</div>
								</div>	
										
							</div>			
		
				<div class="col-md-12 viewlinebox">
								<div class="privateagree">
					<div class="signup">
					
													<div class="form-radio mb-4">               	             	
						
							<input class="d-none" type="hidden" name="role" value="DOCTOR" id="doctor" onclick="medListEvent()" />
						<!-- 	<label class="h4 btn btn-outline-secondary" for="doctor">의사</label>	 -->
						</div>
						<div class="form-textbox row mb-3">
							<span class="medList h5">진료과 &nbsp; &nbsp; &nbsp;</span>
							<div class="input-group medList">
								<select class="form-select" name="job" th:field="*{medId}">
									<option selected="selected" value="none">==진료과를 선택해주세요==</option>
									<option th:each="meds : ${memberFormDto.med}" th:value="${meds.medId}" th:text="${meds.medName}"></option>
								</select>
							</div>
					</div>
				
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="nickname">아이디</label>
							<input type="text" th:field="*{loginid}" class="form-control" placeholder="아이디 입력" style="padding-left: 100px;" onkeyup="chk()"/>
							<p th:if="${#fields.hasErrors('loginid')}" th:errors="*{loginid}" class="py-2 c-alert-color">잘못된 LoginId 입력</p>
							<div id=chk_result class="chk_result c-alert-color py-2"></div>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" for="password">비밀번호</label>
							<input type="password" th:field="*{pwd}" class="form-control" placeholder="패스워드 입력" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}" class="py-2 c-alert-color">잘못된 password 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="name">이름</label>
							<input type="text" th:field="*{name}" class="form-control" placeholder="홍길동" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="py-2 c-alert-color">잘못된 이름 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="tel">전화번호</label>
							<input type="text" th:field="*{tel}" class="form-control" placeholder="01012349876" style="padding-left: 100px;" />
							<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="py-2 c-alert-color">잘못된 전화번호 입력</p>
						</div>
						<div class="form-textbox row mb-3">
							<label class="h5" th:for="birth">생년월일</label>
							<input type="number" th:field="*{birth}" class="form-control" placeholder="19990101" style="padding-left: 100px;" onkeyup="test()" />
							<p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="py-2 c-alert-color">잘못된 생년월일 입력</p>
							<div class="check_font c-alert-color py-2" id=birth_check></div>
						</div>
						<div class="form-textbox row form-bottom d-none mb-3" id = "profile">
							<div class="col-3 d-flex align-items-center">
								<label class="h5 m-0" for="profile">프로필 사진</label>
							</div>
							<div class="col-9 d-flex flex-column align-items-start">
								<div id="image_container">
									<img id="preview" class="w-50"/>
								</div>
								<div class="input-group mb-3">
									<input type="file" class="form-control profile" name ="profileImg" id="profileImg"  onchange="readURL(this);">
									<label class="input-group-text" for="profileImg">Upload</label>
								</div>
							</div>
						</div> 
						<div class="form-textbox row signWrap w-100 flex-nowrap" style="text-align:center;">
							<button type="submit" onclick="check()" class="submitSign w-50 btn btn-primary">회원가입</button>
							<button type="button" onclick="location.href='/'" class="submitSign w-50 ms-2 btn btn-primary">가입취소</button>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">   
						</div>
						</div>  	
					</div>    
				</form>
			</div>		
					</div>
				</div>
			</div>
		<!-- 회원가입야ㅑㄱ관 끝 -->	
			
		
		<!-- </div> -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</section>
</body>
</html>