<!-- 마이페이지 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<title>순양병원</title>
	<th:block layout:fragment="script">
		<script th:inline="javascript">  
			$(document).ready(function(){
				var delMemberMsg = [[${delMemberMsg}]]
				if(delMemberMsg != null){
					alert(delMemberMsg);
					location.href="/"
				}
			}); //작동안함

			$(function(){
				$('.delMember').click(function(){
					if (confirm("삭제하시겠습니까?")) {
					$(location).attr("href", "/members/del/"+$(this).attr('id'));				
					}
					return false;
				})
			});
		</script>
	</th:block>
</head>
<body>
	<section layout:fragment="content" class="login spad">
		<div class="container">
			<div class="sign-up-content">
				<form th:action="@{/members/modify}" method="post" enctype="multipart/form-data">
					<div class="signup">
						<div class="form-textbox row mb-3 w-100" th:if="${modiMember.role.toString().equals('DOCTOR')}">
							<span class="medList h5"> 진료과 &nbsp; &nbsp; &nbsp; </span>
							<div class="input-group medList p-0">
								<select class="form-select" name="medId">
									<option th:value="${memberMed.medId.medId}" th:text="${memberMed.medId.medName}"></option>
									<option th:each="meds : ${memberFormDto.med}" th:value="${meds.medId}" th:text="${meds.medName}"></option>
								</select>
							</div>
						</div>
						<div class="form-textbox row mb-3 w-100">
							<label class="h5" th:for="nickname">아이디</label>
							<input type="text" name="loginid" th:value="${modiMember.loginid}" placeholder="${modiMember.loginid}" class="form-control" style="padding-left: 100px;" disabled />
						</div>
						<div class="form-textbox row mb-3 w-100">
							<label class="h5" for="password">비밀번호</label>
							<input type="password" name="pwd" class="form-control" placeholder="비밀번호를 입력해주세요" style="padding-left: 100px;" />
						</div>
						<div class="form-textbox row mb-3 w-100">
							<label class="h5" th:for="name">이름</label>
							<input type="text" name="name" th:value="${modiMember.name}" class="form-control" style="padding-left: 100px;" disabled />
						</div>
						<div class="form-textbox row mb-3 w-100">
							<label class="h5" th:for="tel">전화번호</label>
							<input type="text" name="tel" th:value="${modiMember.tel}" class="form-control" style="padding-left: 100px;" />
						</div>
						<div class="form-textbox row mb-3 w-100">
							<label class="h5" th:for="birth">생년월일</label>
							<input type="text" name="birth" th:value="${modiMember.birth}" class="form-control" style="padding-left: 100px;" disabled />
						</div>
						<div class="form-textbox row form-bottom mb-3" id = "profile" th:if="${modiMember.role.toString().equals('DOCTOR')}">
							<div class="col-3 d-flex align-items-center">
								<label class="h5 m-0" for="profile">프로필 사진</label>
							</div>
							<div class="col-9 d-flex flex-column align-items-start">
								<div id="image_container">
									<img id="preview" class="w-50"/>
								</div>
								<div class="input-group mb-3">
									<input type="file" class="form-control profile" name ="profileImg" id="profileImg"  onchange="readURL(this);">
									<label class="input-group-text" for="profileImg">Upload</label>
								</div>
							</div>
						</div> 
						<div class="form-textbox row signWrap w-100 flex-nowrap">
							<button type="submit" class="w-50 me-2 btn btn-primary">정보 수정</button>
							<button type="button" class="delMember w-50 btn btn-primary" th:id="${modiMember.Id}">회원 탈퇴</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</section>
</body>
</html>