<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/mypage.css">

</head>
<body>
	<section layout:fragment="content">
		<div class="memType01">
			<div class="clearFix">
				<a href="/members/archive" class="btn btn-outline-secondary" sec:authorize="hasRole('CLIENT')">
				<img src="/images/male_doc_r.png" class="mypage_img">
				<p class="">진료기록</p></a>
				
				<a href="/reservation/listView" class="btn btn-outline-secondary">
				<img src="/images/wbat.gif" class="mypage_img">
				<p class="">나의 예약</p></a>
				
				<a href="/members/modify" class="btn btn-outline-secondary">
				<img src="/images/male_doc.png" class="mypage_img">
				<p class="">정보 수정</p></a>
			</div>
		</div>
	</section>
	
	
</body>
</html>