<!-- 아이디찾기 결과화면 -->

<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>순양병원 </title> 
     <link rel="stylesheet" href="/rs/css/Member.css">
    <script th:inline="javascript">
		$(document).ready(function(){
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null){
				alert(errorMessage);
			}

		}); 
	</script>
    <style th:inline="text">
     
     form {
     padding: 15px;
     }
     .findid {
     display: contents;
     }
		
		.result {
		color: red;
		font-size: 26px;
		}
		.reslog {
		margin-bottom: 20px;
		}
		.findpwd {
		margin:15px;
		}
		</style>
  </head>
  <body>
       <section layout:fragment="content"  class="d-flex flex-column align-items-center justify-content-center max-w-50">
    		<div class="c-bg-second box-padding">
    		<div class="d-flex flex-column align-items-center c-bg-white">
  				<h5 class="findid">찾으시는 아이디는&nbsp;</h5><h5 class="findid result" th:text = "${findID.loginid}"></h5><h5 class="findid">&nbsp;입니다. </h5>
  				<h5 class="reslog">해당아이디로 로그인해주시기 바랍니다.</h5>
  				<form class="row g-3" action="/members/login" method="post">
  					  <div class="p-0">
						<label class="h5" th:for="loginid">아이디</label> 
						<input type="text" name="loginid" id="loginid" class="form-control">
					</div>
					  <div class="p-0">
						<label class="h5" th:for="password">비밀번호</label> 
						<input type="password" name="password" id="password" th:value="${newPwd}" class="form-control">
					</div>
					<div class="findpwd"><a th:href="'/members/FindPwd'">비밀번호가 기억나지 않으신가요?<br><br>비밀번호 찾기</a></div>
  				  <p th:if="${errorMessage}" class="errorMessage" th:text="${errorMessage}"></p> 
					<button type="submit" class="btn btn-primary w-40" id="loginbtn" onclick="location.href='/'">로그인</button>
			 		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			 		</form>
			 		</div>
  		</div>		
     </section>
  </body>
</html>
