<!-- 비밀번호 강제변경 결과화면 -->

<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>순양병원 </title> 
    <link rel="stylesheet" href="/rs/css/Member.css">
    <!-- THYMELEAF JS  -->
	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
	</script>
  </head>
  <body>
    <section layout:fragment="content"  class="d-flex flex-column align-items-center justify-content-center max-w-50">
    	<div class="c-bg-second box-padding">
			<div class="d-flex flex-column align-items-center c-bg-white findInfo">
				<h5 class="findid d-flex flex-column align-items-center">
					<span class="d-block">비밀번호가</span>
					<span class="c-alert-color h3" th:text = "${newPwd}"></span>
					<span>로 변경되었습니다.</span>
					<div class="my-4 h6 d-flex flex-column align-items-center">
						<span>해당 비밀번호는 1회용으로 발급되는 임시 비밀번호입니다.</span>
						<span>아래에서 바로 로그인 후 비밀번호를 변경해주시거나,</span>
						<span>임시 비밀번호를 다른 곳에 저장해주시기 바랍니다.</span>
					</div>
				</h5>
  				<form class="row g-3 d-flex flex-column align-items-end w-100" action="/members/login" method="post">
  					  <div class="p-0">
						<label class="h5" th:for="loginid">아이디</label> 
						<input type="text" name="loginid" id="loginid" class="form-control">
					</div>
					  <div class="p-0">
						<label class="h5" th:for="password">비밀번호</label> 
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<button type="submit" class="btn btn-primary w-40" id="loginbtn" onclick="location.href='/'">로그인</button>
					 <p th:if="${errorMessage}" class="errorMessage" th:text="${errorMessage}"></p> 
			 		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			   </div>
		</div>
		<script src="/rs/js/Member.js"></script>
     </section>
  </body>
</html>
