<!DOCTYPE html>

<!-- layout이 적용되어있는 페이지 폼 입니다. 
		따로 적용할 거 없이 "content 영역에 각 페이지 별 내용 기입하시면 됩니다."-->

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>환자 진료 내역 페이지입니다.</title>

<!-- THYMELEAF JS  -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
    
	$(document).ready(function(){
    	var errorMessage = [[${errorMessage}]];
    	if(errorMessage != null){
        	alert(errorMessage);
    	}
	});
	
	function readURL(input) {
 		var id = $(input).attr('id');
	    var reader = new FileReader();
	    reader.onload = function(e) {
	      document.getElementById('preview'+id).src = e.target.result;
	    };
	    reader.readAsDataURL(input.files[0]);
    }
    
	</script>
</th:block>

<!-- THYMELEAF CSS -->
<th:block layout:fragment="css">
	<style>
.wrap {
	width: 80%;
}
.viewhead{
	text-align: center;
}
.viewlineboxup {
	border-top: 5px solid black;
}

.viewlinebox {
	border: 1px solid black;
	text-align: center;
}
.linemenu{
	height: 100px;
	text-align: center;
	display: table;
}
.tablemenu{
	border: 1px solid
}
.detailbody {
	border: none;
}

.cont_img{
	width: 15%;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="wrap">
			<div class="cont">
				<!-- USER INFO, POST INFO  -->
				<div class="row head" style="margin: 0 auto; margin-bottom: 150px">
					<div class="col-md-10 headwrap">
					
					<div class="col-md-12 viewhead">
						<h1>환자 진료 내역</h1>
					</div>
					<div class="col-md-12 viewhead"></div>
					<div class="col-md-12 linemenu">
						<a th:href="'/archive/write/'+${patientinfo.id}"> 신규작성 </a>
					</div>
					<div class="col-md-12 viewlineboxup"></div>
					<div class="col-md-12 viewlinebox">
						<span> 환자명 </span> <span> [[${patientinfo.name}]] </span> <span> 나이 </span> <span>20
						</span> <span> 주요내원병명 </span> <span> 감기 </span> <span> 입원여부 </span> <span>Y
						</span>
					</div>
					<div class="col-md-12 tablemenu" th:each="archive : ${ArchiveList}">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th scope="row">진료번호</th>
									<td>[[${archive.id}]]</td>
									<th scope="row">내원날짜</th>
									<td>[[${archive.getRegDatetime()}]]</td>
								</tr>
								<tr>
									<th scope="row">질병코드</th>
									<td>코드 들어간다</td>
									<th scope="row">담당의</th>
									<td>[[${archive.doctorname}]]</td>
								</tr>
								<tr class="detailhead">
									<td colspan="4">
										<div>세부 진료 사항</div>
										<p> [[${archive.detail}]] </p>
										<span th:each="AI : ${ArchiveImgList}">
											<span th:each = "IMGLIST : ${AI}">
	 												<span th:if="${IMGLIST.getArchive().getId()} == ${archive.id}">
													<img th:alt="${IMGLIST.imgname}" th:src="${IMGLIST.imgurl}" style="width: 20%">
												</span>
											</span>
										</span>									
									</td>	
								</tr>
							</tbody>
						</table>
					<div class="col-md-12 linemenu">
						<a th:href="'/archive/update/'+${archive.id}"> 진료내역수정 </a>
						<a th:href="'/archive/delete/'+${archive.id}"> 진료내역삭제 </a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



</body>
</html>
