<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>순양병원</title>
</head>
<body>
    <header id="adminHeader" class="d-flex flex-column w-25 align-items-center" th:fragment="adminHeader">
        <h1 class="mb-2 h3"><a href="/admin">병원 관리페이지</a></h1>
        <nav class="w-100 d-flex flex-column justify-content-between h-100">
            <div>
                <div class="h5">회원 관리</div>
                <ul>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/memberList">회원 목록</a>
                    </li>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/qlist">비회원 예약</a>
                    </li>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/reservation">예약 관리</a>
                    </li>
                </ul>
                <div class="h5">게시판 관리</div>
                <ul>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/board/main">고객 게시판</a>
                    </li>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/hinfo/hinfoMain">건강정보 게시판</a>
                    </li>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/qa">Q&A 게시판</a>
                    </li>
                </ul>
                <div class="h5">병원 관리</div>
                <ul>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/med">진료과 관리</a>
                    </li>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/disease">병명 관리</a>
                    </li>
                    <li class="w-100">
                        <a class="btn btn-secondary w-100 text-end" href="/admin/chatControll">채팅방 관리</a>
                    </li>
                    
                </ul>
            </div>
            <ul class="d-flex justify-content-center">
                <li>
                    <a href="/members/logout" class="btn btn-secondary">로그아웃</a>
                </li>
                <li>
                    <a href="/" class="btn btn-secondary w-100 text-end">메인</a>
                </li>
                <li>
                    <a href="/admin/chat" class="btn btn-secondary">채팅</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>