<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>순양병원</title>
</head>
<body>
	<footer th:fragment="footer" class="d-flex flex-column align-items-center justify-content-around">
		<address class="text-white">주소 : 03080 서울특별시 종로구 대학로 101(연건동 28)</address>
		<p class="text-white">대표자 : 김연수 대표전화 : 1588-5700</p>
		<p class="text-white">COPYRIGHT 2023 SEOUL NATIONAL UNIVERSITY HOSPITAL. ALL RIGHTS RESERVED</p>
  	</footer>
</body>
</html>