<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
<section>

<h1>관리자 페이지</h1><br><hr>

<br>
<br>

<div class="d-grid gap-2 col-6 mx-auto">
  <button onclick = "location.href = '/admin/memberList' " class="btn btn-primary" type="button">고객목록</button>
  <button onclick = "location.href = '/admin/hospitalizeList' " class="btn btn-primary" type="button">입원환자목록</button>
  <button onclick = "location.href = '/admin/doctorList' " class="btn btn-primary" type="button">의사목록</button>
  <button onclick = "location.href = '/board/main' " class="btn btn-primary" type="button">고객게시판</button>
  <button onclick = "location.href = '/qa/' " class="btn btn-primary" type="button">자주묻는질문</button>
  <button onclick = "location.href = '/Hinfo/HinfoMain' " class="btn btn-primary" type="button">건강정보게시판</button>
  <button onclick = "location.href = '/admin/med' " class="btn btn-primary" type="button">진료과 개설 페이지</button>
  <button onclick = "location.href = '/admin/disease' " class="btn btn-primary" type="button">병명 기입 페이지</button>
</div>

</div>


</section>

</body>
</html>