<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>순양병원</title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <section layout:fragment="content">
    <div id="chart_div"></div>
    <div id="chart_div2"></div>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			  /* alert("준비중입니다."); */
			  test();
		});
		
		/* 변수선언 */
		
		 var t1 = null;
		 var t2 = null;
		 var t3 = null;
		 var t4 = null;
		
      	/* 데이터 가져오기 */
	 	function test() {
	        var token = $("meta[name='_csrf']").attr("content");
	        var header = $("meta[name='_csrf_header']").attr("content");
	       
	        var url = "/admin/chart";
	       
	        $.ajax({
	        	url : url,
	        	type : 'POST',
	        	data : {
	           
	        	},
	            beforeSend : function(xhr){
	                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
	                xhr.setRequestHeader(header, token);
	            },
	        	success : function(chartData) { // controllor에서 list를 return 받았음
	        		
	        		/*	console.log(chartData.hosptalizedEachWard)	
	          			console.log(chartData.hosptalizedEachWardname)	*/
	          			console.log(chartData)
	        		
	                    t1 = chartData.hosptalizedEachMedname
	                    t2 = chartData.hosptalizedEachMed
	                   
	                    t3 = chartData.hosptalizedEachWardname
						t4 = chartData.hosptalizedEachWard
	                   
	          			google.charts.setOnLoadCallback(drawChart);
	          		 	google.charts.setOnLoadCallback(drawBasic);
	             },
	            
	        	error : function() {
	        		alert("error");
	        	}
	            
	        });
		}
      	
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['안과', 5],
          ['치과', 1],
          ['정형외과', 1],
          ['피부과', 1],
          ['산부인과', 2]
        ]);
        // Set chart options
        var options = {'title':'진료과별 입원 환자 수',
                        'width':500,
                        'height':400};
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      	/* 원 차트 */
		google.charts.load('current', {'packages':['corechart']});
	    function drawChart() {
			
	        // Create the data table.
	        var data = new google.visualization.DataTable();
	       
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	       
	        for( var i = 0; i < t2.length; i ++){
	            data.addRows([
	                [t1[i] , t2[i]]
	              ]);
	        }
	       
	        // Set chart options
	        var options = {'title':'진료과별 입원 환자 수',
	                       'width':500,
	                       'height':400};
	        // Instantiate and draw our chart, passing in some options.
	        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	      }
     	
	 	/* 막대 차트 */
	 	
     	google.charts.load('current', {packages: ['corechart', 'bar']});
     	function drawBasic() {
     		console.log(t3.length)
     		
          var data = new google.visualization.DataTable();
        	data.addColumn('string', 'DataName');
       		data.addColumn('number', 'Value');
       		
             for( var i = 0; i < t3.length; i ++) {
                 data.addRows([
                     [t3[i] , t4[i]]
                   ]);
             }
     	      var options = {
     	        title: '각 호실별 입원 현황',
     	        chartArea: {width: '100%'},
     	        hAxis: {
     	          title: '병실 당 수용 인원 수',
     	          minValue: 10
     	        },
     	        vAxis: {
     	          title: 'City'
     	        }
     	      };
     	      var chart = new google.visualization.BarChart(document.getElementById('chart_div3'));
			  chart.draw(data, options);
     	    }
     	
     	
     	
     	
     	/*  */
     	
     	/* google.charts.load('current', {packages: ['corechart', 'bar']});
		google.charts.setOnLoadCallback(drawBasic);
		function drawBasic() {
		
		      var data = google.visualization.arrayToDataTable([
		        ['City', '2010 Population',],
		        ['New York City, NY', 8175000],
		        ['Los Angeles, CA', 3792000],
		        ['Chicago, IL', 2695000],
		        ['Houston, TX', 2099000],
		        ['Philadelphia, PA', 1526000]
		      ]);
		
		      var options = {
		        title: 'Population of Largest U.S. Cities',
		        chartArea: {width: '50%'},
		        hAxis: {
		          title: 'Total Population',
		          minValue: 0
		        },
		        vAxis: {
		          title: 'City'
		        }
		      };
		
		      var chart = new google.visualization.BarChart(document.getElementById('chart_div4'));
		
		      chart.draw(data, options);
		    } */
		
     	/*  */
     	
     	
     	
    </script>
	<!-- 차트 넣기 -->
	<div id="chart_div"></div>
  	<div id="chart_div3"></div>
  	<div id="chart_div4"></div>
  	
</div>
  </section>
</body>
</html>