<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>순양병원</title>

</head>
<body>
    <section layout:fragment="content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">총 가입자 현황</h1>
                  <!--       <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">고객 수</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a id="memberCount" class="small text-white stretched-link" href="/admin/memberList?opt=CLIENT"></a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">의사 수</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a id="doctorCount" class="small text-white stretched-link" href="/admin/memberList?opt=DOCTOR"></a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                  <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">전체 회원 수</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a id="sumMember" class="small text-white stretched-link" href="/admin/memberList"></a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                    <!--
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- 차트 넣기 -->
            <div id="chart_div"></div>
            <!-- <div id="chart_div3"></div> -->
            <div id="chart_div5"></div>
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/rs/js/Chart.js"></script>
    </section>
</body>
</html>