<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">

	<h1>의사목록</h1>

	<h2>의사검색</h2>
	<input type="text" name="memberName">

	<table>
		<th>성함</th>
		<th>생년월일</th>
		<th>전화번호</th>
		<tr>
			<td>홍길동</td>
			<td>1998/08/22</td>
			<td>010-1234-1111</td>
		</tr>
		<tr>
			<td>홍길동</td>
			<td>1998/08/22</td>
			<td>010-1234-1111</td>
		</tr>
		<tr>
			<td>홍길동</td>
			<td>1998/08/22</td>
			<td>010-1234-1111</td>
		</tr>
		<tr>
			<td>홍길동</td>
			<td>1998/08/22</td>
			<td>010-1234-1111</td>
		</tr>
	</table>

</div>

</body>
</html>