<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">

<section>

	<h1>의사 목록</h1>

	<table>
	
		<th>성함</th>
		<th>생년월일</th>
		<th>전화번호</th>
	<th:block th:each="members : ${members}">
		<tr>
			<td>[[${members.name}]] &nbsp;&nbsp;</td>
			<td>[[${members.birth}]] &nbsp;&nbsp;</td>
			<td>[[${members.tel}]] &nbsp;&nbsp;</td>
		</tr>
	
	</table>

	</th:block>

</section>

</div>

</body>
</html>