<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <section layout:fragment="content">
    <h2 class="h3 b-line mb-4">의사 목록</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">성함</th>
          <th scope="col">생년월일</th>
          <th scope="col">전화번호</th>
          <th scope="col">담당진료과</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="memberMeds : ${memberMeds}">
          <td>[[${memberMeds.memberId.name}]]</td>
          <td>[[${memberMeds.memberId.birth}]]</td>
          <td>[[${memberMeds.memberId.tel}]]</td>
          <td>[[${memberMeds.medId.medName}]]</td>
          <!-- <th>[[${memberMeds.memberId.role}]]</th> -->
        </tr>
      </tbody>
    </table>
  </section>
</body>
</html>