<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">

<form action="/admin/med" method="post" enctype="multipart/form-data" th:object="${medFormDto}">

		<h2>새 진료과 개설</h2>
		<input type="text" th:field="*{medName}" name="medName">
	
		<h2>개설할 진료과 설명</h2>
		<textarea th:field="*{medInfo}" cols="40" rows="8"></textarea>
	
		<button type="submit">진료과 등록하기</button>
	
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	
</form>	

	<h2>진료과 목록</h2>

			<th:block th:each="meds : ${meds}">
			
				<article>
					<header>
						<span class="medName">[[${meds.medName}]] : </span>
						<span class="medInfo">[[${meds.medInfo}]]</span>
					</header>
				</article>
			</th:block>

</div>

</body>
</html>