/* 채팅방 선택페이지 */
select.rounded {height: 58px;} 
#newChatRoom > div {margin-right: 10px;}
#newChatAccess {width: 15%;}
#newChatName {width: 65%;}
#newChatRoom > button {width: 20%;}

/* 채팅방 페이지 */
#messageView {overflow-y: scroll; border: 1px solid #226597; padding: 10px; height: 685px;}
.entry {padding: 1rem;}
.info {font-size: 0.8rem; margin: 0 10px;}
.senderName {margin-bottom: 5px;}
.msg {padding: 10px 1rem; width: fit-content; box-sizing: border-box;}
.msg.sendMsg {background-color: #226597; color: #ffffff; border: none;}
.msg.reciveMsg {background-color: #ffffff;}

#messageInput input[name="message"] {color: #000000; cursor: text; text-align: left;}
#messageInput input[name="message"]:hover,
#messageInput input[name="message"]:active,
#messageInput input[name="message"]:focus-visible {background-color: #ffffff; color: #000000; box-shadow: none;}
#messageSend {padding: 1rem 0; box-sizing: border-box; margin-left: 10px;}