@charset "UTF-8";
#mainPage {padding: 0 0 3rem 0;}
/* #category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;} */
#category {display:flex; justify-content:center; top:10px;left:10px; background: #fff;overflow: hidden;z-index: 2;}
/* #category li {float:left;list-style: none;width:70px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;} */
#category li {position:relative; float:left;list-style: none;width:100px;height:100px;px; padding:6px 0;margin:30px 30px 30px 30px;text-align: center; cursor: pointer; border-radius:50%;}
/* #category .round-map {float:left;list-style: none;width:100px;height:100px;px; padding:6px 0;margin:10px;text-align: center; cursor: pointer; border-radius:50%;} */
#category li.on {background: #eee;}
.fa-solid {font-size: 50px;}
/* #category li:hover {background: #ffe6e6;border-left:1px solid #acacac;} */
/* #category li:last-child{margin-right:0;border-right:0;} */
/* #category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;} */
#category li span {position:absolute; display: block;margin:0 auto; top:20%;}
#category li.on:hover{color:#0d6efd;}

#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
#category li .bank {background-position: -10px 0;}
#category li .mart {background-position: -10px -36px;}
#category li .pharmacy {background-position: -10px -72px;}
#category li .oil {background-position: -10px -108px;}
#category li .cafe {background-position: -10px -144px;}
#category li .store {background-position: -10px -180px;}
#category li.on .category_bg {background-position-x:-46px;}


.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#205B8A;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.placeinfo .tel {color:#0f7833;}
.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}


/* swiper 슬라이더 기능 */
 .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_reservation {
	position: relative;
	height: 195px;
	padding: 10px;
	background: #205B8A;
	color: #fff;
	font-size: 18px;
	box-sizing: border-box;
	overflow:hidden;
}

.reservation_btn_list {
	display: flex;
	margin-top: 28px;
}

.reservation_h3 h3 {
	display: inline-block;
	color:#fff;
	font-weight: 500;
	font-size:32px;
	letter-spacing: -1.5px;
	vertical-align:middle;
	
	padding-top: 23px;
}

.reservation_h3 .fa-solid {
	font-size: 26px;
	vertical-align:middle;
	padding-left:10px;
	padding-top: 23px;
}

@media screen and (max-width: 1076px) {
	.reservation_h3 .fa-solid {
	display: none;
	}
	.reservation_call {
	display: none;
	}
}



.reservation_btn_list a {
	display: inline-block;
	height: 45px;
	padding: 0 3px;
	background: #fff;
	text-align: center;
	flex:1;
	box-sizing: border-box;
}
.reservation_btn_list a + a {
	margin-left: 7px;
}

.reservation_btn_list span {
	display: inline-block;
	color: #205B8A;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	word-break: keep-all;
}
.reservation_btn_list a:before {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}


.box_search {
	position: relative;
	height: 195px;
	padding: 10px;
	background: #108ccf;
	color: #fff;
	font-size: 18px;
	box-sizing: border-box;
	overflow:hidden;
}

.doc_search_img {
    position: absolute;
    height: 200px;
    right: -28px;
    top: 10px;
    z-index: 1;
}


.doc_search_h3 h3 {
	display: block;
	text-align:left;
	color:#fff;
	font-weight: 500;
	font-size:32px;
	letter-spacing: -1.5px;
	vertical-align:middle;
	padding-top: 23px;
}

.doc_search {
	margin-top: 28px;
	z-index: 3;
}

/* .doc_search_btn {
	display: absolute;
	z-index: 100;
} */

.search {
  width: 500px;
  height: 40px;
  margin: 150px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}
.doc_searchbar {
  width: 270px;
  padding: 10px 5px;
  float: left;
  color: #fff;
  border: 0;
  background: #159fea;
  border-radius: 3px;
}
.doc_searchbar::placeholder {
	color: #fff;
}
.doc_searchbar:focus {
  outline: 0;
}
.doc_search_btn {
  position: relative;
  float: left;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: black;
  background: #fff;
  border-radius: 3px;
  z-index:2;
  height:46px;
}
.doc_search_btn:hover {
  background: #fff;
  color: #444;
}
.doc_search_btn:active {
  box-shadow: 0px 0px 12px 0px #e1e1e1;
}
.doc_search_btn:focus {
  outline: 0;
}