.box-padding {padding: 50px 100px;}
.c-bg-white {padding: 100px 50px; width: 500px;}

/* adminForm */
.wrap {
	width: 100%;
	margin: 0 auto;
}

.headwrap {
	margin: 0 auto;
}

.viewhead {
	text-align: center;
	margin-bottom: 10px;
}

.viewlineboxup {
padding: 24px;
	border-top: 4px solid black;
}

.viewlinebox{
	background-color: #eff3f7;
	padding: 60px 100px;
}

.defimg {
 display:none
}
.linemenu {
	height: 50px;
	text-align: center;
	margin-top: 15px;
}

.tablemenu {
	padding: 15px;
	margin: 0 auto;
	background: white;
	width : 60%;
}

.detailbody {
	border: none;
}

.detail{
	width: 90%;
	height : 250px;
	background-color: #eff3f7;
	
}

.table_con {
	margin-top: 10px;
	text-align: center;
}

.cont_img {
	width: 15%;
}

.patientlist {
	text-align: center;
}

.pnamein {
	width: 80%;
}

.table tr{
	text-align: left;
}

.but{
	background: #226597;
	color: white;
}

.privateagree{
	margin-top: 25px;
	margin-bottom: 25px;
}