<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<head>
<meta charset="UTF-8">
<title>메인페이지 title입니다.</title>
</head>
<body>
	<div layout:fragment="content">
	
	<section>
	
		<ul>
		<li>작성자 : [[${HinfoBoard.member.name}]]</li>
		<li>글제목 : [[${HinfoBoard.title}]]</li>
		<li>조회수 : [[${HinfoBoard.view}]]</li>
		<li th:text="작성일 + ${#temporals.format(HinfoBoard.regTime, 'yyyy-MM-dd HH:mm:ss')}"></li>
		<li th:each="img, status:${HinfoBoard.hinfoImgDtoList}">이미지 <img alt="" th:src="${img.imgUrl}"></li>
		<li>글내용 : [[${HinfoBoard.content}]]</li>
		</ul>
		<a th:href="'/Hinfo/updatepage/' +${HinfoBoard.id}">수정</a>
		<a th:href="'/Hinfo/deletepage/' +${HinfoBoard.id}">삭제</a>
	
	</section>	
	
	

		
	</div>
</body>
</html>