<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<head>
<meta charset="UTF-8">
<title>순양병원</title>

<style th:inline="text">
	
</style>
<link rel="stylesheet" href="../../css/HinfoDtl.css">
</head>
<body>
	<section layout:fragment="content">
	
	<h3>건강정보 게시판</h3><hr>
	
	
	<div class="title-box">
	
		<h4 class="title">[[${HinfoBoard.title}]]</h4>
		<p>작성자 : [[${HinfoBoard.member.name}]] &nbsp; | &nbsp; 조회수 : [[${HinfoBoard.view}]]</p>
		<p th:text="작성일_ + ${#temporals.format(HinfoBoard.regTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
	
	</div>
	
	
	<div th:each="img, status:${HinfoBoard.hinfoImgDtoList}" style="text-align: center;"><img  th:alt="${img.oriImgName}" th:src="${img.imgUrl}"></div>
<table class="table table align-middle">
  <thead>
    <tr>
      <td style="white-space: pre-line;"><p class="text-start text-break fs-5 lh-base ">[[${HinfoBoard.content}]]</p></td>
    </tr>

  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">

      </th>
    </tr>

    <tr>
      <th scope="row">



      </th>
    </tr>
    
  </tbody>

</table>
	  	<div class="button2" sec:authorize="hasAnyAuthority('ROLE_DOCTOR','ROLE_ADMIN')">
			<a class="btn btn-primary" th:href="'/Hinfo/updatepage/' +${HinfoBoard.id}" role="button">수정</a>
			<a class="btn btn-primary" th:href="'/Hinfo/deletepage/' +${HinfoBoard.id}" role="button">삭제</a>
		</div>
	
	</section>	
</body>
</html>