<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>순양병원</title>
	<script th:inline="javascript">
		function send_pn(){
			var yaho = $("#pn").val();
			console.log(yaho);
			$("#pn_form").submit();
		}
		
		function send_pbn(){
			var mu = $("#pbn").val();
			console.log(mu);
			$("#pbn_form").submit();
		}
	</script>
<link rel="stylesheet" href="../../css/HinfoMain.css">
</head>
<body>
	<section layout:fragment="content">
		<h3>건강정보 게시판</h3><br><hr><br>
		<div class="job-box">
			<div class="job-box-filter">
				<div class="row">
					<div class="col-md-6 col-sm-6">
	<!-- 					<label>Show 
						<select name="datatable_length" class="form-control input-sm">
								<option name="pn" value="5">5</option>
								<option name="pn" value="10">10</option>
								<option name="pn" value="15">15</option>
								<option name="pn" value="20">20</option>
						</select> entries
						</label> -->
						<form id="pn_form" method="post" action="/Hinfo/HinfoMain">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<select id="pn" name="pn" onchange="send_pn()" class="form-control input-sm">
								<option hidden="hidden" value="">[[${lists.size}]]</option>
								<option value="2">2</option>
								<option value="4">4</option>
								<option value="6">6</option>
								<option value="10">10</option>
							</select>
							<label for="pn"> : 볼 게시물 갯수</label>
						</form>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="filter-search-box text-right">
							<form class="d-flex" role="search" th:action="@{/Hinfo/HinfoMain}" method="get">
								<input name="searchQuery" class="form-control me-2" type="search" placeholder="검색어 입력" aria-label="Search">
								<button class="btn btn-outline-success" type="submit" style="width: 100px;">검색</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="inbox-message">
				<ul th:each="list , i : ${lists.getContent()}">
					<li th:onClick="|location.href='@{|/Hinfo/${list.id}|}'|" style="cursor:pointer;">
						<a th:href="'/Hinfo/' +${list.id}">
							<div class="message-avatar">
								<img th:src="${list.member.imgUrl}"	th:alt="${list.member.imgOri}">
							</div>
							<div class="message-body">
								<div class="message-body-heading">
								
									<h5 th:href="'/Hinfo/' +${list.id}"><a style="color:#0D6EFD" th:href="'/Hinfo/' +${list.id}">[[${list.title}]] </a>
										<span th:if="${i.first} and ${lists.number==0}" class="unread" style="margin-top:1px">New</span>
										<span th:if="${list.view} >= 5" class="important" style="margin-top:1px">Hot</span>
									</h5>
									<span th:text="작성일_ + ${#temporals.format(list.regTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
								</div>
								<p class="p-content">[[${list.content}]]</p><br>
								<p>글번호 : [[${list.id}]] &nbsp; 작성자 : [[${list.member.loginid}]] &nbsp; 조회수 : [[${list.view}]]</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<br>
		<!-- 페이징 -->
		<!-- start = (현재 페이지 번호/보여줄 페이지수) + 1 , 페이지 시작 번호-->
		<!-- end = start + (보여줄 페이지수 - 1 ), 페이지 끝 번호-->
		<!-- item.number: [[${lists.number}]], maxPage: [[${maxPage}]], -->
		<!-- 5 -->
		<!-- totalPages: [[${lists.totalPages}]], -->
		<br>
		<form id="pbn_form" method="post" action="/Hinfo/HinfoMain">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<nav th:with="start=${(lists.number/maxPage)*maxPage + 1}, end=(${(lists.totalPages == 0) ? 1 : (start + (maxPage - 1) < lists.totalPages ? start + (maxPage - 1) : lists.totalPages)})"
				aria-label="Page navigation example">
				<ul class="pagination d-flex justify-content-center" id="pbn" name="pbn" onchange="send_pbn()">
					<li class="page-item" th:classappend="${lists.first}?'disabled'">
						<a th:href="@{'/Hinfo/HinfoMain' + '?searchQuery=' + ${hinfoSerchDto.searchQuery} + '&page=' + ${lists.number-1}+ '&pn=' + ${(hinfoBoardDto.pn == null ? 6 : hinfoBoardDto.pn)}}" class="page-link">
							<span>이전</span>
						</a>
					</li>
					<li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${lists.number eq page-1}?'active':''">
						<a class="page-link" th:inline="text" th:href="@{'/Hinfo/HinfoMain' +'?searchQuery=' + ${hinfoSerchDto.searchQuery} + '&page=' + ${page-1} + '&pn=' + ${(hinfoBoardDto.pn == null ? 6 : hinfoBoardDto.pn)}}">[[${page}]]</a>
					</li>
					<li class="page-item" th:classappend="${lists.last}?'disabled'">
						<a class="page-link" th:href="@{'/Hinfo/HinfoMain' +'?searchQuery=' + ${hinfoSerchDto.searchQuery} + '&page=' + ${lists.number+1}+ '&pn=' + ${(hinfoBoardDto.pn == null ? 6 : hinfoBoardDto.pn)}}">다음</a>
					</li>
				</ul>
			</nav>
		</form>
		<div></div>
		<button style="float: right;" class="btn btn-primary" onClick="location.href='/Hinfo/write'" sec:authorize="hasAnyAuthority('ROLE_DOCTOR','ROLE_ADMIN')">글쓰기</button>
	</section>
</body>
</html>