<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>순양병원</title>

  <link rel="stylesheet" href="/rs/css/qa.css">
</head>
<body>
	<section layout:fragment="content">
	<div class="qa_h1"><h1>자주묻는 질문</h1></div>
    <div class="qa_btn">
      <button type="button" class="btn btn-outline-primary qa_btn0" onclick="location.href='/qa/new'" sec:authorize="hasAnyRole('DOCTOR','ADMIN')">등록</button>
      <button type="button" class="btn btn-outline-primary qa_btn0" onclick="location.href='/qa/'">전체보기</button>
      <button type="button" class="btn btn-outline-primary qa_btn0" onclick="location.href='/qa/pay'">결제</button>
      <button type="button" class="btn btn-outline-primary qa_btn0" onclick="location.href='/qa/hspdsc'">입/퇴원</button>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <th:block th:each="qa : ${qaList}">
          <h2 class="accordion-header" th:id="${qaStat.index}+10000">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#'+${qaStat.index}" aria-expanded="true" th:aria-controls="${qaStat.index}+10000">
            <i class="fa-solid fa-q"></i><span class="fa-q-span">&nbsp [[${qa.qaTitle}]]</span>																																					
            
            </button>
          </h2>
          <div th:id="${qaStat.index}" class="accordion-collapse collapse" th:aria-labelledby="${qaStat.index}" >
            <div class="accordion-body">
		    <div class ="answer_txt">
	             <p>[[${qa.qaContent}]]</p>
	             <div class="form-textbox row qaWrap" style="text-align:center;">
                        <button type="button" th:onclick = "|location.href='/qa/mod/' + ${qa.id}|" class="qa_mod_btn btn btn-primary" sec:authorize="hasAnyRole('DOCTOR','ADMIN')">수정</button>
                        <button type="button" th:onclick = "qaDelete(this)"  class="qa_del_btn btn btn-primary" sec:authorize="hasAnyRole('DOCTOR','ADMIN')">삭제</button>
			          	<input type="hidden" th:value="${qa.id}">
                   </div>		    
	    	</div>
            </div>
            </div>
          </div>
        </th:block>
 <script th:inline="javascript">
	function qaDelete(btn) {
		const currId = $(btn).siblings('input').val();
		const check = confirm("삭제하시겠습니까?");
		if(check) {
			location.href = '/qa/del/' + currId;
		} else {
			return false;
		}
		
	}
 </script>
      </div>
	</section>

</body>

</html>