<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:inline="javascript">
$(function(){
	$('.qa_question').each(function(){
		($(this).click(function(){				
			$(this).next().slideToggle("slow");	
		}));
		})
	});
$(document).ready(function() {
	  $('.accordion .button').click(function() {
	    if (!$(this).hasClass('active')) {
	      $('.accordion div').slideUp();
	      $('.accordion button').removeClass('active');
	      $(this).next().slideDown();
	      $(this).addClass('active');
	    }
	    else {
	      $(this).next().slideUp();
	      $(this).removeClass('active');
	    }
	  });
	});	

$(document).ready(function(){
	$('.qaMod').click(function(){
		$(location).attr("href", "/qa/mod/"+ $(this).attr('id'))
	})
});

$(function(){
	$('.qaDel').click(function(){
		$(location).attr("href", "/qa/del/")
	})
});

	</script>
<style type="text/css">
	.accordion {
	list-style: none;
	margin-bottom: 20px;
	padding: 0;

	}
	
	.accordion .button {
	width: 100%;
	text-align: left;
	display: block;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #ddd;
	color: #333;
	text-decoration: none;
	}
	
	.accordion div {
	display: none;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	}
</style>
</head>
<body>
	<div layout:fragment="content">
	<button type="button" onclick="location.href='/qa/new'">등록</button>
	<button type="button" onclick="location.href='/qa/'">전체보기</button>
	<button type="button" onclick="location.href='/qa/pay'">페이</button>
	<button type="button" onclick="location.href='/qa/hspdsc'">입/퇴원</button>
		<th:block th:each="qa : ${qaList}">
	    	<ul class="accordion">
	    		<li>
	    		<button type="button" class="button">[[${qa.qaTitle}]]</button>
	    		<div>
	    		<p>[[${qa.qaContent}]]</p>
	    		<button type="button" class="qaMod" th:id="${qa.Id}">수정</button>
	    		<button type="button" class="qaDel">삭제</button>
	    		</div>
	    		
	    		</li>
	    	</ul>
  	</div>
	</th:block>
	
</body>
</html>