<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../static/lib/Bootstrap_5.3.0a/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../static/lib/Bootstrap_5.3.0a/css/bootstrap.min.css">
    <script src="../../static/lib/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/reservation.css">
</head>
<body>
    <section layout:fragment="content">
        <div class="w-100">
            <h2>진료예약</h2>
            <div>
                <h3>과이름</h3>
                <div>
                    <div class="card mb-3">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>