<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/reservation.css">
</head>
<body>
    <section id="selectDoc" layout:fragment="content">
        <div class="w-100">
            <h2 class="h1 text-center">진료예약</h2>
            <div th:each="divison : ${DocList}">
                <h3 class="h2" th:text="${divison.key}">과이름</h3>
                <div class="d-flex flex-wrap w-100 docList">
                    <a th:href="@{${doctor.id}}" th:each="doctor : ${divison.value}" class="card mb-3 d-flex flex-column align-items-center">
                        <img th:src="${doctor.imgUrl}" class="card-img-top" th:alt="${doctor.imgName}">
                        <div class="card-body">
                            <h5 class="card-title text-center" th:text="${doctor.name}">의사 이름</h5>
                            <p class="card-text">
                                <i class="fa-solid fa-mobile"></i>
                                <small class="text-muted" th:text="${doctor.tel}">000-0000-0000</small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>