<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/reservation.css">
    <script src="../../lib/FulCal_6.1.1/local/index.global.min.js"></script>
    <script src="../../lib/FulCal_6.1.1/index.global.min.js"></script>
    <script th:inline="javascript">
        const calendarEvents = [[${ViewList}]];
        const notAvail = [[${NotAvail}]];
    </script>
</head>
<body>
    <section id="selectDate" layout:fragment="content">
        <div class="w-100 d-flex justify-content-end" sec:authorize="hasRole('DOCTOR')">
            <a class="btn btn-primary mb-2" href="/reservation/setNotAvailDay">휴일설정</a>
        </div>
        <div id="Fcalendar"></div>
        <form th:action="@{/reservation/delete}" id="deleteForm" class="d-none" method="post">
            <input type="hidden" name="reservationId">
        </form>
        <script src="../../js/Reservation.js"></script>
    </section>
</body>
</html>